<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>


  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/smartwizard@5.0.0/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
$(document).ready(function() {
    $('#competencies').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false,
        "responsive": true
    });
      // SmartWizard initialize
      $('#smartwizard').smartWizard({
        selected: 0, // Initial selected step, 0 = first step
  theme: 'dots', // theme for the wizard, related css need to include for other than default theme
  justified: true, // Nav menu justification. true/false
  autoAdjustHeight: true, // Automatically adjust content height
  cycleSteps: false, // Allows to cycle the navigation of steps
  backButtonSupport: true, // Enable the back button support
  enableURLhash: true, // Enable selection of the step based on url hash
  transition: {
      animation: 'slide-horizontal', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
      speed: '400', // Transion animation speed
      easing:'' // Transition animation easing. Not supported without a jQuery easing plugin
  },
  toolbarSettings: {
      toolbarPosition: 'both', // none, top, bottom, both
      toolbarButtonPosition: 'center', // left, right, center
      showNextButton: true, // show/hide a Next button
      showPreviousButton: true, // show/hide a Previous button
      toolbarExtraButtons: [] // Extra buttons to show on toolbar, array of jQuery input/buttons elements
  },
  anchorSettings: {
      anchorClickable: true, // Enable/Disable anchor navigation
      enableAllAnchors: true, // Activates all anchors clickable all times
      markDoneStep: false, // Add done css
      markAllPreviousStepsAsDone: false, // When a step selected by url hash, all previous steps are marked done
      removeDoneStepOnNavigateBack: false, // While navigate back done step after active step will be cleared
      enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
  },
  keyboardSettings: {
      keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
      keyLeft: [37], // Left key code
      keyRight: [39] // Right key code
  },
  lang: { // Language variables for button
      next: 'Next',
      previous: 'Previous'
  },
  disabledSteps: [], // Array Steps disabled
  errorSteps: [], // Highlight step with errors
  hiddenSteps: [] // Hidden steps
      });

$("form#assessment input[type=radio]").click(function(){
    //$("form#assessment").submit(function(){
        //event.preventDefault();
        console.log('Y');
        formData = $('form#assessment').serializeArray(); // put form data into array
//console.log(formData);
        
        var compGroups=[]; // Setup array to hold competence names and total scores

        $(formData).each(function(i, field){ //iterate through the formdata
            var compItemID = field.name;
            var compID = compItemID.substr(0, compItemID.indexOf('_')); // find the compID by parsing before the _

           // console.log(compID);
            
            compGroups.push(compID); // Create an array of all the competency groups by adding each one in turn
        });

        compGroupsUnique = [...new Set(compGroups)]; // Create list of unique competency groups
            
        //console.log(compGroupsUnique);
        var compGroupScores = []; // Create an array to hold the unique names and their scores
        //console.log(compGroupScores);
        
        $(compGroupsUnique).each(function(a,name){
            compGroupScores.push({group: name,score: 0,count:0}); // initialise array of groups and scores
            
        });
        //console.log(compGroupScores); // Works OK
             
           

        var compItemID = "";
        var compItemScore = 0;
        var labels = []; // initialise arrays for chart
        var scores = [];
        

        $(formData).each(function(i,field) { // go through each form item
            //console.log(field);
            compItemID = field.name;
            compItemScore = field.value;

            $(compGroupScores).each(function(j,scoreItem){ // go through the unique competency groups
               // console.log(scoreItem.group, scoreItem.score);
            //console.log(compItemID,compItemScore);
            var compID = compItemID.substr(0, compItemID.indexOf('_')); // get ready to make a comparison with the unique competency groups
            
                if(compID==scoreItem.group){ // check to see if we can add to the list of unique groups
                    
                    var aggScore = compGroupScores[j].score; // Temporary variable

                    aggScore = parseFloat(aggScore) + parseFloat(compItemScore); // Create the new aggregate score for this group
                    
                    compGroupScores[j].score = aggScore; // Put the aggregate score back into the group
                    compGroupScores[j].count++; // Increment count of items in this group
                } 
            });
        }); // end of loop through formData
        

//console.log(compGroupScores); 
        $(compGroupScores).each(function(n,value){ // set up data for chart
            //console.log(value.group, value.score);
            labels.push(value.group);
            scores.push(value.score/value.count);
            
        });
        console.log(compGroupScores);
        radar(labels,scores);
        
        

        }); // end of on click radio button function
} ); // end of Document.ready function

//
// Radar chart
//
function radar(labels,scores) {
    var ctx = document.getElementById('radarChart').getContext('2d');
    Chart.defaults.global.defaultFontSize = 14;
    var chart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: labels,
                datasets: [{
                    data: scores
                }],
            },
            options: {
                title: {
                    display: true,
                    text: 'Average scores per group'
                },
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                scale: {
                    ticks: {
                        max: 3,
                        min: 0,
                        stepSize: 1
                    }
                }
            }
    });
}

</script>



