---
layout: default
---
<!--<p><a href="https://github.com/Wyver-Solutions/wyveracademy/blob/gh-pages/_collections/{{ page.path }}">Comment on Github</a></p>-->
<p>{{ page.description }}</p>
<table id="competencies" width="100%" class="table table-bordered">
  <thead class="thead-dark">
    <th class="all">Sub-category</th>
    <th class="min-tablet-l" width="30%">Level 1: Low responsibility</th>
    <th class="min-tablet-l" width="30%">Level 2: Medium responsibility</th>
    <th class="min-tablet-l" width="30%">Level 3: High responsibility</th>
  </thead>
  <tbody>
{% assign challenges = site.challenges %}
{% for i in page.items %}
  <tr>
    <td class="align-top">{{ i.name }}</td>
    <td class="align-top">{{ i.L1 }}</td>
    <td class="align-top">{{ i.L2 }}</td>
    <td class="align-top">{{ i.L3 }}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>{% include small-challenge-list.html challenges=challenges levelCheck="L1" %}</td>
    <td>{% include small-challenge-list.html challenges=challenges levelCheck="L2" %}</td>
    <td>{% include small-challenge-list.html challenges=challenges levelCheck="L3" %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
