---
layout: default
---
<!--<p><a href="https://github.com/Wyver-Solutions/wyveracademy/blob/gh-pages/_collections/{{ page.path }}">Comment on Github</a></p>-->
<p>{{ page.description }}</p>
<table id="competencies" width="100%" class="table table-bordered table-hover">
  <thead class="thead-dark">
    <th class="all">Sub-category</th>
    <th class="min-tablet-l" width="30%">Level 1</th>
    <th class="min-tablet-l" width="30%">Level 2</th>
    <th class="min-tablet-l" width="30%">Level 3</th>
  </thead>
  <tbody>
{% assign challenges = site.challenges %}
{% for i in page.items %}
  <tr>
    <td class="align-top"><p>{{ i.name }}</p></td>
    <td class="align-top"><p>{{ i.L1 }}</p>
     {% include small-challenge-list.html challenges=challenges levelCheck="L1" %}
    </td>
    <td class="align-top"><p>{{ i.L2 }}</p>
    {% include small-challenge-list.html challenges=challenges levelCheck="L2" %}
    </td>
    <td class="align-top"><p>{{ i.L3 }}</p>
    {% include small-challenge-list.html challenges=challenges levelCheck="L3" %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
